#dashboard{
    text-align: center;

    color:white;

}
#submit-button {
    background-color:rgb(3, 40, 77);
    border-radius: 50px;
    color: white;


}

#city-search {
    border-radius: 50px;
    text-align: center;
    width: 18.5%;
}

#miami{
    background-color:rgb(3, 40, 77);
    align-content: flex-end;
    border-radius: 50px;
    color: white;

}

#houston{
    background-color:rgb(3, 40, 77);
    align-content: flex-end;
    border-radius: 50px;
    color: white;
}

#atlanta{
    background-color:rgb(3, 40, 77);
    align-content: flex-end;
    border-radius: 50px;
    color: white;

}

#indianapolis{
    background-color:rgb(3, 40, 77);
    align-content: flex-end;
    border-radius: 50px;
    color: white;
}

#denver{
    background-color:rgb(3, 40, 77);
    align-content: flex-end;
    border-radius: 50px;
    color: white;
}

#nashville{
    background-color:rgb(3, 40, 77);
    align-content: flex-end;
    border-radius: 50px;
    color: white;
}

#chicago{
    background-color:rgb(3, 40, 77);
    align-content: flex-end;
    border-radius: 50px;

    color: white;
}

#vegas{
    background-color:rgb(3, 40, 77);
    align-content: flex-end;
    border-radius: 50px;
    color: white;
}

/* css cards */
#button-group{
    width:100%;
    text-align: center;
}

.inline{
   display: inline-block;
}

